[Unit]
Description=SSH Key Agent
After=syslog.target network.target

[Service]
Type=forking
User={{ owner }}
Group={{ owner }}
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK {{ run_args }}

[Install]
WantedBy=default.target
