# Managed by Ansible (0xOI/ansible-role-openssh)
# see: ssh_config man specification -- https://man.openbsd.org/ssh_config

{% for spec in config.client[account] %}
Host {{ spec }}
{% for key, value in config.client[account][spec].items() %}
  {{ key }} {{ value }}
{% endfor %}

{% endfor %}
