# Managed by Ansible (0xOI/ansible-role-openssh)
# see: ssh_config man specification -- https://man.openbsd.org/ssh_config

{% for spec in ssh_config.client[account] %}
Host {{ spec }}
{% for key, value in ssh_config.client[account][spec].items() %}
  {{ key }} {{ value }}
{% endfor %}

{% endfor %}
