# Managed by Ansible (0xOI/ansible-role-openssh)

{# see: sshd_config configuration specificatiton -- https://man.openbsd.org/sshd_config #}
{% for key, value in config.server.items() %}
{{ key }} {{ value }}
{% endfor %}
